<%= flash[:warning] %>

<%= form_tag login_path, class: 'new_user' do %>
  <h2 class="sign-up-real-title">Login here!</h2>
  <table class="log">
    <tr class="login-form-row">
    <td><%= label_tag :email, nil, :class => 'login' %></td>
    <td><%= text_field_tag :email %></td>
</tr>
<tr class="login-form-row">
    <td><%= label_tag :username, nil,  :class => 'login' %></td>
    <td><%= text_field_tag :username %></td>
</tr>
<tr class="login-form-row">
    <td><%= label_tag :password, nil,  :class => 'login' %></td>
    <td><%= password_field_tag :password %></td>
</tr>
</table>
<div class="login-button-div">
  <%= submit_tag "Login", class: 'submit-button' %>
</div>
<% end %>
