

<%= form_for @user do |f| %>
  <h2 class="sign-up-real-title">Sign up here!</h2>
  <div class="sign-up-form">
    <%= f.label :email,  :class => 'sign-up-form-title' %>
    <%= f.text_field :email %>
  </div>
  <div class="sign-up-form">
    <%= f.label :username,  :class => 'sign-up-form-title' %>
    <%= f.text_field :username %>
  </div>
  <div class="sign-up-form">
    <%= f.label :password,  :class => 'sign-up-form-title' %>
    <%= f.password_field :password %>
  </div>
  <div class="sign-up-form">
    <%= f.label :password_confirmation, "Confirm Password",  :class => 'sign-up-form-title' %>
    <%= f.password_field :password_confirmation, :class => 'pw-confirmation' %>
  </div>

  <%= f.submit %>
<% end %>
