<%= form_for @user do |f| %>
  <h2 class="sign-up-real-title">Sign up here!</h2>
  <table class="log">
    <tr class="login-form-row">
    <td><%= f.label :email,  :class => 'sign-up-form-title' %></td>
    <td><%= f.text_field :email %></td>
    </tr>
    <tr class="login-form-row">
  <td><%= f.label :username,  :class => 'sign-up-form-title' %></td>
    <td><%= f.text_field :username %></td>
  </tr>
    <tr class="login-form-row">
    <td><%= f.label :password,  :class => 'sign-up-form-title' %></td>
    <td><%= f.password_field :password %></td>
  </tr>
    <tr class="login-form-row">
    <td><%= f.label :password_confirmation, "Confirm Password",  :class => 'sign-up-form-title' %></td>
    <td><%= f.password_field :password_confirmation, :class => 'pw-confirmation' %></td>
  </tr>
</table>
  <%= f.submit %>
<% end %>
