
<div class="all-stadium-toggle-btns">
  <button type="button" class="team-button" id="Big12">Big 12</button>
  <button type="button" class="team-button" id="Pac12">Pac 12</button>
  <button type="button" class="team-button" id="SEC">SEC</button>
  <button type="button" class="team-button" id="ACC">ACC</button>
  <button type="button" class="team-button" id="Big10">Big 10</button>
  <button type="button" class="team-button" id="AAC">AAC</button>
  <button type="button" class="team-button" id="CUSA">Conference USA</button>
  <button type="button" class="team-button" id="Indy">Independent</button>
  <button type="button" class="team-button" id="Sunbelt">Sun Belt</button>
  <button type="button" class="team-button" id="Mtwest">Mountain West</button>
  <button type="button" class="team-button" id="Mac">Mac</button>
</div>
<div class="container" id="how">
  <div class="row">
<% @areanas.each do |a| %>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-header" id="card-head">
        <%= a.name %>
      </div>
      <% if a.images.count == 0  %>
        <img class="card-img-top" src="http://www.levisstadium.com/wp-content/uploads/2015/09/5D33993-e1442951857632-800x400.jpg" alt="Card image cap" width="300" height="200">
      <% else %>
        <img class="card-img-top" src="<%= a.images[0].photo %>" alt="Card image cap" width="300" height="200">
      <% end  %>
    <div class="card-body">
      <p class="card-title"><b>Capacity: <%= a.capacity %></b></p>
      <p class="location-card" id="location-card-text"><b>Location: <%= a.city %>, <%= a.state %></b><p>
      <p class="card-title"><b>Conference: <%= a.conference %></b><p>
      <p class="card-text" id="card-texts">This is where more stadium information will go and I need to make sure it doesn't go on forever.</p>
    </div>
    <div class="card-footer">
      <a href="/areanas/<%= a.id %>" class="btn btn-primary" id="<%= a.id %>">Visit Page</a>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
