<p2><%= @areana.name %> stadium </p2>

<%= form_for ([@areana, @rating]) do |f| %>
<select name="score" id="rating-list">
  <option value="5_Star" step="4" type="number">5 Stars</option>
  <option value="4_stars">4 Stars</option>
  <option value="3_stars">3 Stars</option>
  <option value="2_stars">2 Stars</option>
  <option value="1_stars">1 Star</option>
</select>

<%= f.hidden_field :user_id, {value: current_user.id} %>
<%= f.submit "submit"%>
<% end %>

<div class="stadium-rating">
  <h3> The average rating of this stadium is <%= @areana.average_rating %> </h3>
</div>

<div>
  <% @areana.comments.each do |c|  %>
    <p> <%= c.body %> </p>
  <% end %>
</div>

<div class="comment-on-areana">
  <%= form_for ([@areana, @areana.comments.build]) do |f| %>

    <%= f.label :body, 'Comment' %>
    <%= f.text_area :body %>

    <%= f.submit "Add Comment" %>
  <% end  %>
</div>
